# Python
.venv/
__pycache__/
*.pyc

# User Data
data/

# Temporary files
static/
generated/
dist/*.apk
android/.gradle/
android/**/build/

# IDE config
.vscode/

# Environment variables
.env
settings.local.json
